<header class="header">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50%">
            <div class="header__logo"></div>
        </div>
        <div fxFlex="50%">                
            <h1 class="header__title">
                Welcome to {{title}}!
            </h1>
        </div>
    </div>
</header>
<div class="container">
    <div fxLayout="row">
        <div fxFlex="40%" fxFlex.sm="60%" fxFlex.xs="60%">
            <div class="results-content">
                <h2 class="title title__results">Results</h2>
                <div class="results-listing">
                    <md-card class="property-card" div *ngFor="let property of data.results" [attr.id]="'property_' + property.id">
                        <app-results [property]="property" class="app-results"></app-results>
                        <button md-button class="btn btn__save" (click)="saveProperty(property)">
                            add 
                        </button>
                    </md-card>
                </div>
            </div>
        </div>
        <div fxFlex="60%" fxFlex.sm="40%" fxFlex.xs="40%">
            <div class="saved-content">
                <div class="saved-wrapper">
                    <h2 class="title title__saved">Saved Properties</h2>
                    <div class="saved-listing" id="parentSaved">
                        <!-- Initital Saved property -->
                        <md-card class="property-card" *ngFor="let property of data.saved" [attr.id]="'property_' + property.id">
                            <div class="property-agency" [ngStyle]="{'background-color': property.agency.brandingColors.primary}">
                                <div fxLayout="row">
                                    <div fxFlex>
                                        <img [attr.src]="property.agency.logo" class="property-agency__logo" />
                                    </div>
                                </div>
                            </div>
                            <ul class="property-listing">
                                <li class="property-listing__items">
                                    <img [attr.src]="property.mainImage" class="property-listing__mainImage" />
                                </li>

                                <li class="property-listing__items">
                                    <div class="property-listing__items--price saved">
                                        {{ property.price }}
                                    </div> 
                                </li>                                
                            </ul>
                            <button md-button (click)="deleteInitialSavedProperty(property)" class="btn btn__delete">
                                    remove
                                </button>
                        </md-card>
                        <!-- Saved Properties -->
                        <md-card class="property-card" *ngFor="let property of savedProperties" [attr.id]="'property_' + property.id">
                            <app-saved-properties [property]="property" class="app-saved-properties"></app-saved-properties>
                            <button md-button (click)="deleteProperty(property)" class="btn btn__delete">
                                remove
                            </button>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>