@import '../sass/mixins.scss';
@import '../sass/base.scss';
@import '../sass/properties.scss';

.header {
    background: #262f35;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    right: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    &__logo {
        left: 0;
        right: 0;
        background: url('../assets/images/rea-logo.png') center center no-repeat;
        background-size: 250px;
        height: 80px;
        width: 300px;
        @include respond-to(phone-down) {
            margin: 0 auto;
            background-size: 200px;
            background-position:top  20px center;
            height: 60px;
        }
    }
    &__title {
        padding: 20px;
        font-size: 18px;
        line-height: 100%;
        font-weight: 100;
        text-align: right;
        color: white;
        @include respond-to(phone-down) {
            text-align: center;
        }
    }
    @include respond-to(phone-down) {
        height: auto;
    }
}

.results-content {
    width: 400px;
    display: block;
    @include respond-to(phone-down) {
        width: 100%;
    }
}

.saved-content {
    display: inline-block;
    width: auto;
}
