/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

@import 'sass/base.scss';

body {
  font-family: 'Roboto';
  background-color: #1e262b;
  height: 100vh;
  margin: 0 0 0 0;
}

.container {
  max-width:1200px;
  margin: 0 auto;
  padding: 140px 20px;
  display: block;
  @include respond-to(phone-down) {
    padding-top:200px;
  }
}